Repository MohammedFadin/weekdone: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weekdone-client-trigger, weekdone-server-trigger

.gitlab-ci.yml:

weekdone-client-trigger:
  trigger:
    include: client/.gitlab-ci.yml
  only:
    changes:
      - client/*

weekdone-server-trigger:
  trigger:
    include: server/.gitlab-ci.yml
  only:
    changes:
      - server/*

Update client/.gitlab-ci.yml
  client/.gitlab-ci.yml
Due: weekdone-client-trigger

IMP client pipeline yaml
  client/.gitlab-ci.yml
Due: weekdone-client-trigger

ADD force parent pipeline to fail when child fails
  .gitlab-ci.yml
Due: none

IMP client pipeline yaml
  .gitlab-ci.yml
  client/README.md
Due: weekdone-client-trigger

IMP client pipeline yaml
  client/README.md
Due: weekdone-client-trigger

IMP update client/server image tags
  client/.gitlab-ci.yml
  client/chart/templates/deployment.yaml
  client/chart/values.yaml
  server/.gitlab-ci.yml
  server/chart/templates/deployment.yaml
  server/chart/values.yaml
Due: weekdone-client-trigger, weekdone-server-trigger

IMP Add Configmap to Helm chart + Remove .env file
  client/chart/.env
  client/chart/templates/configmap.yaml
  client/chart/templates/deployment.yaml
  client/chart/values.yaml
  client/client.js
Due: weekdone-client-trigger

FIX remove spaces from .env
  client/chart/.env
Due: none

IMP add local default client port
  client/client.js
Due: weekdone-client-trigger

IMP add local default client port
  client/chart/.env
Due: none

IMP trigger gitlab based on multiple paths
  .gitlab-ci.yml
Due: none

IMP read env values from values.yaml
  client/chart/templates/configmap.yaml
  client/chart/values.yaml
Due: none

ADD configmap for weekdone-server chart + fix trigger gitlab
  .gitlab-ci.yml
  server/Dockerfile
  server/chart/templates/configmap.yaml
  server/chart/values.yaml
Due: weekdone-server-trigger

FIX server path in gitlab ci yaml
  server/.gitlab-ci.yml
Due: weekdone-server-trigger

FIX find image tag replacement
  server/.gitlab-ci.yml
Due: weekdone-server-trigger

FIX server pod image missing secrets
  server/chart/templates/deployment.yaml
Due: none

IMP readme file
  README.md
Due: none

FIX container port on Dockerfile
  client/Dockerfile
Due: weekdone-client-trigger

IMP PROD stage to require DAST stage
  client/.gitlab-ci.yml
Due: weekdone-client-trigger

FIX PROD stage to require DAST stage
  client/.gitlab-ci.yml
Due: weekdone-client-trigger

ADD limits and requests for client chart
  client/chart/values.yaml
  client/package-lock.json
  client/package.json
Due: weekdone-client-trigger

FIX limits and requests for client chart
  server/chart/values.yaml
Due: none

IMP make deploy-prod depends on dast
  client/chart/values.yaml
  server/.gitlab-ci.yml
Due: weekdone-server-trigger

IMP weekdone-clinet dockerfile user groups and permissions
  client/Dockerfile
Due: weekdone-client-trigger

FIX set client port above 1000 to run as non-root
  client/Dockerfile
  client/chart/.env
  client/chart/values.yaml
  client/client.js
  server/.gitlab-ci.yml
Due: weekdone-client-trigger, weekdone-server-trigger

FIX set client port above 1000 to run as non-root
  client/chart/templates/deployment.yaml
  client/chart/values.yaml
  server/Dockerfile
  server/chart/templates/deployment.yaml
  server/chart/values.yaml
  server/server/config.json
Due: weekdone-server-trigger

ADD new about me page
  client/client.js
Due: weekdone-client-trigger

Create github-ci.yml
  .github/workflows/github-ci.yml
Due: none

Delete .github/workflows directory
  .github/workflows/github-ci.yml
Due: none

enable manual trigger
  .github/workflows/github-ci.yml
Due: none

Update github-ci.yml
  .github/workflows/github-ci.yml
Due: none
